@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');


:root {

    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;

}

*{

    margin: 0;
    padding: 0;

}



.cabecalho{
    height: 250px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  


}


.titulo{
    font-family:var(--fonte2);
    font-weight: small;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 10vw;
    color:rgb(255, 255, 255);
    letter-spacing: 5px;
    text-shadow: 5px 5px 10px rgba(4, 0, 255, 0.267);
    

}

.link{

    color: white;
    font-weight: small;
    text-decoration: none;
    font-family: var(--fonte1);
    font-size: 2vw;
    padding-bottom: 15px;


}

main{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.primeiro-texto{

    font-family: var(--fonte3);
    font-size: 3.5vw;
    width: 35vw;
    text-align: left;
    text-align: justify;
    padding: 50px;
    

}

.segundo-paragrafo{
        
        display: inline-block;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459);
        background-image: url(imagens/background001.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: 100%;
        padding: 50px;

        



}

.segundo-paragrafo > p {

    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    text-align:left;
    width: 35vw;
    padding: 15px;
    


}

.terceiro-paragrafo{

    font-family: var(--fonte3);
    font-size: 3.5vw;
    width: 700px;
    text-align: left;
    text-align: justify;
    padding: 50px;
    width: 35vw;
    


}

.quarto-paragrafo-imagem{

        display: inline-block;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459);
        background-image: url(imagens/background002.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: 100%;
        padding: 50px;

}
 
.quarto-paragrafo-texto{

        background-color: rgba(0, 0, 0, 0.514);
        color: white;
        font-family: var(--fonte3);
        font-size: 3.5vw;
        text-align:left;
        width: 35vw;
        padding: 15px;
    

}

.ultimo-paragrafo{

        font-family: var(--fonte3);
        font-size: 3.5vw;
        width: 800px;
        text-align: left;
        text-align: justify;
        padding: 50px;
        width: 35vw;

}

.navegacao{

    font-family: var(--fonte2);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding:20px;
    font-size: 2vw;
    margin: auto;

}

strong{
    font-family:var(--fonte2);
    color: white;
    text-decoration: none;


}

a:hover {

    text-decoration: underline;


}


